body{
    background-color:white;
    font-family: system-ui;
}


.container{
    width: 1000px;
    margin: auto;
    transition: 0.5s;
}
header{
    display: grid;
    grid-template-columns: 1fr 50px;
    margin-top: 50px;
}
header .shopping{
    position: relative;
    text-align: right;
}
header .shopping img{
    width: 40px;
}
header .shopping span{
    background: red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: absolute;
    top: -5px;
    left: 80%;
    padding: 3px 10px;
}


.shopping {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.shopping img {
    width: 40px;
    height: 40px;
    margin-right: 20px;
    
   
 }
    

.card {
    margin: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    transition: box-shadow 0.3s ease-in-out;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-img-top {
    max-height: 200px;
    object-fit: cover;
}

.card-body {
    padding: 20px;
}

.card-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333;
}

.card-text {
    color: #666;
}

.quantity-controls {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    margin: 0 5px;
    text-decoration: none;
}

.btn-secondary {
    background-color: #dc3545;
}

.btn:hover {
    background-color: #0056b3;
}

.btn-secondary:hover {
    background-color: #bd2130;
}



.cart-item-name {
    flex-grow: 1;
}

.checkout-message {
    font-weight: bold;
    color: green;
    margin-top: 10px;
}